body{
    margin:0;
    padding:0;
    text-align: center;
    display: block;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#form{
    width: 200px;
    filter: blur(0px);
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-rendering: inherit;
    background-color: #00A5CF;
    padding: 50px;
    text-rendering: geometricPrecision;
    border-radius: 10px;
    margin-top: 8%;
    color: black;
    background-color: rgba(255, 255, 255, .5);

}
#form form{
    text-align: left;
    margin-top: 25px;
}
#form .form-item{
    display: inline-block;
    margin-bottom: 15px;
}
#form input{
    height: 30px;
    border-radius: 5px;
    border: 0;
    padding: 5px;

}
.btn-submit{
    border:0;
    border-radius: 5px;
    color: rgba(10, 160, 255, 1);
    background-color: black;
    font-weight: bold;
    height: 30px;
    width: 80px;
    transition: all ease 0.5s;
    padding: 5px 15px;
    text-align: center;
    box-shadow: 5px 5px 18px #888888;
}
.active{
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 3px solid #00A5CF;
    border-radius: 50%;
    border-left-color: transparent;
    animation: rotate 1.4s ease 0.5s infinite;
    text-decoration: none;
    padding: 0;
    margin:0;
    box-shadow: unset;
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }

}
.success{
    position: relative;
    background-color: white;
    color: white;
    animation-play-state: paused;
    font-size: 0px;
    border: 3px solid white;
}
.success:before{
    font-size: 12px;
    position: absolute;
    font-family: 'FontAwesome';
    color: green;
    top: 6px;
    left: 6px;
    content: "\f00c";
    animation: opac 1s ease-in;
}
@keyframes opac{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }

}
.error{
    position: relative;
    background-color: red;
    color: red;
    animation-play-state: paused;
    font-size: 0px;
    border: 3px solid red;
}
.error:before{
    font-size: 16px;
    position: absolute;
    font-family: 'FontAwesome';
    color: white;
    top: 5.5px;
    left: 6px;
    content: "\f00d";
    animation: opac 3s ease-in;
}