body{
    margin: 0;
    padding: 0;
}
#workers-container{
    padding-top: 15px;
}
#list-workers{
    list-style: none;
}
.gear{
    position: absolute;
    color: black;
    margin-left: 80px;
    margin-top: -17px;
}
#workers-container ul li{
    display: inline-block;
    height: 140px;
    width: 180px;
    background-color: #EDF1F8;
    padding: 10px;
    margin-left: 15px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: inset 1px 1px 81px -10px rgba(0,0,0,0.42);
}
#workers-container ul li span{
    font-size: 12px;
}
#workers-container ul li span p{
    margin-top: 5px;
    font-weight: bold;
}
.user-avatar{
    height: 140px;
    width: 80px;
    margin-right: 10px;
    float: left;
}