#op-container{
    width: 800px;
    height: 350px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 0px 15px 15px 15px;
}
.op-tab{
  background-color: lightgrey;
  width: 200px;
  height: 60px;
  margin: 15px 0 0 0;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}
.operators{
    position: relative;
    display: inline-block;
    height: 70px;
    width: 140px;
    background-color: aliceblue;
    text-align: center;
    line-height: 70px;
    border-radius: 25px;
    border: 1px solid grey;
    box-shadow:inset 0px 0px 15px rgba(68,68,68,0.6);
    margin: 5px;
    cursor: grabbing;
}
.operators span{
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.op-description{
  margin: 0;
  padding: 0;
  position: absolute;
  height: 70px;
  width: 140px;
  background-color: aliceblue;
  text-align: center;
  border-radius: 25px;
  border: 1px solid grey;
  font-size: 15px;
  box-shadow:inset 0px 0px 15px rgba(68,68,68,0.6);
  z-index:100;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s;
  bottom: 0px;
}
.op-description span{
  margin-left: 5px;
}
.operators:hover .op-description{
  visibility: visible;
  opacity: 1;
}
#fleet-container{
    padding: 25px;
}
.frotas{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 110px;
    width: 160px;
    margin: 10px 5px;
    padding: 0;
    background-color: #fff;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    background-size: 40%;
    background-position: center;
    background-position-y: 32px;
    background-repeat: no-repeat;
    background-image: url('plus-solid.svg');
}
.frotas span{
    display: inline-block;
    margin: 5px 0px;
}

/*.frotas:after{
  content: "\f067"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 65px;
  top: 30%;
  left: 30%;
  color: rgba(0,0,0,.8);
}*/
.frotas-error{
  border: 1px solid red;
}
.hover {
    animation: createBox .25s forwards;
  }
  @keyframes createBox {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.15);
    }
  }