body{
    margin: 0;
    padding: 0;
    padding-left: 50px;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-rendering: geometricPrecision;
}
#op-container{
    width: 800px;
    height: 350px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 0px 15px 15px 15px;
}
.op-tab{
  background-color: lightgrey;
  width: 200px;
  height: 60px;
  margin: 15px 0 0 0;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}
.operators{
    position: relative;
    display: inline-block;
    height: 70px;
    width: 140px;
    background-color: aliceblue;
    text-align: center;
    line-height: 70px;
    border-radius: 25px;
    border: 1px solid grey;
    box-shadow:inset 0px 0px 15px rgba(68,68,68,0.6);

}
.operators span{
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#fleet-container{
    padding: 25px;
}
.frotas{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 110px;
    width: 160px;
    margin: 10px 5px;
    padding: 0;
    background-color: #fff;
    position: relative;
    z-index: 5;
    border: 1px solid black;
    border-radius: 10px;
}
.frotas span{
    display: inline-block;
    margin: 5px 0px;
}
.frotas:after{
  content: "\f067"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 65px;
  top: 30%;
  left: 30%;
  color: rgba(0,0,0,.8);
  z-index: -1;
}
.frotas-error{
  border: 1px solid red;
}
.hover {
    animation: createBox .25s forwards;
  }
  @keyframes createBox {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.15);
    }
  }