body{
    margin: 0;
    padding: 0;
    background-color: lawngreen;
}
#op-container{
    width: 800px;
    height: 350px;
    padding: 20px;
}
.operators{
    position: relative;
    display: inline-block;
    height: 70px;
    width: 140px;
    background-color: grey;
    text-align: center;
    line-height: 70px;
    border-radius: 25px;
   

}
.operators span{
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#fleet-container{
    padding: 25px;
}
.frotas{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 110px;
    width: 160px;
    margin: 0;
    padding: 0;
    background-color: lightseagreen;
    position: relative;
    z-index: 5;
}
.frotas span{
    display: block;
    margin: 5px 0px;
    color: #FFF;
}
.frotas:after{
  content: "\f067"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 65px;
  top: 30%;
  left: 30%;
  color: lightblue;
  z-index: -1;
}
.hover {
    animation: createBox .25s forwards;
  }
  @keyframes createBox {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }